div#Welcome-to-sastec {
    background-color: #ff0066;
    border-radius : 11px;
    width: 92%;
    margin-left: 16px
}
div#Welcome-to-sastec-text {
    color: #fff;
    margin-bottom: 17px;
    padding-left: 20px;
    margin-top: 8px;
}
input#Welcome-to-sastec-input{
    border-radius: 18px;
    padding-left: 39px;
    padding-top: 9px;
    margin-left: -4px;
    margin-top: -8px;
    width: 231px;
}
#Welcome-to-sastec-input::placeholder {
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: -50px;
    margin-bottom: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 5px;
    left: 38px;
    
  }
#image-search{
    display: flex;
    width: 16px;
    height: 16px;
    position: relative;
    left: 38px;
    top: 14px;
}
input.form-control {
    width: 100%;
    padding-left: 55px;

}